body{
    font-family: 'Roboto', sans-serif;;
}

header{
 background-image: url(images/donation0.jpg);  
height: 80vh;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
position: relative;
}
.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: hsl(0, 0%, 90%);
    font-weight: bolder;
}
.btnn{
text-decoration: none;
font-size: 1.2rem;
color: white;
background-color: hsl(0, 100%, 50%);
padding: 5px;
border-radius: 5px;
}
.btnn:hover{
    background-color: pink;
    color: black;
}
.donate-desc{
    text-align: center;
}
.donate-sec{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.amount{
    text-align: center;
    margin: 5px 0;
    padding: 5px 0;
}
.btnnn{
    text-decoration: none;
font-size: 1.2rem;
color: white;
background-color: hsl(0, 100%, 50%);
padding: 5px;
border-radius: 5px;
}
.donate-plan-desc{
    text-align: center;
    margin-top: 30px;
}
.card-sec{
    display: flex;
}
.card{
    background-color: hsl(0, 100%, 90%);
    margin-left: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px gray;
}
.image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.about-desc{
    text-align: center;
    display: flex;
}
.about{
    text-align: center;
    margin-top: 50px;
    
}
.about-left{
width: 50%;
}
.about-right{
width: 50%;
}
.about-bg{
    background-color: red;
    padding: 10px;
}
.update-desc{
   
    width: 50%;
}
.form-div{
   
    background-color: gray;
    width: 50%;
padding: 50px;


}
.btn{
    margin-left: -5px;
    border: none;
    padding: 5px;
    background-color: red;
}
.form{
    border: none;
    padding: 5px;
}
.up-in{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    align-items: center;
}
footer{
    background-color: hsl(0, 100%, 0%);
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}
